 body {
	  font-family: 'Montserrat', sans-serif;
	  background-color: #393e46;
	  overflow-x: hidden;
	  margin: 0;
      padding: 0;
	  color: white;
    }

	footer {
	  position: absolute;
      height: auto;
      width: 100%;
      left: 0;
      background-color: #24252d;
      color: white;
      text-align: left;
      padding: 10px 20px 10px 20px;
      font-size: 10px;
	}
	
	a {
	  color: white;
	}
	
	a:hover {
      color: yellow;
    }
	
	.btn-outline-secondary{
		background-color: white;
	}
	
	nav {
	  background-color: #24252d;
	  color: white;
	  margin: 0px 0px 10px 0px;
	  padding: 5px;
	
	}
	ul {
	  list-style-type: none;
	  text-align: center;
	  margin: 5px;
	}
	
	li {
	  display: inline;
	}
	
	li:not(:first-child) {
	  padding-left: 20px;
	}
	
    .custom-combobox-toggle {
      height: 1.7em;
      margin-top: -0.15em;
      margin-left: -1px;
    }
    .custom-combobox-input {
      padding: .2em .5em;
    }
    #ui {
      display: none;
    }
	
    .nowrap {
      white-space: nowrap;
      margin-top: 1em;
      margin-right: 1em;
      display: inline-block;
    }
	
    #loading {
      max-width: 100%;
    }
	
    #size-label, #scale-label, #offsetX-label, #offsetY-label {
      color:#f6931f;
	  margin-left: 0.3em;
    }
	
    .ui-autocomplete {
      max-height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
	  text-align: left;
    }
	
    .ui-slider {
      display : inline-block;
      width: 175px;
      margin: .3em;
      position: relative;
      top: .3em;
    }
	
	[class*="col-2"] {
		margin-bottom: 10px;

}
	
    iframe {
      max-width: 100%;
      overflow: hidden;
    }

	.ui-menu .ui-menu-item-wrapper {
	  margin-top: -7px;
	  margin-bottom: -7px;
	}
	
