body {
  margin: 0;
  padding: 8px 8px;
}

body, html {
  background-color: #ffffff;
  max-width: 100%;
  max-height: 100%;
}

footer {
  position: absolute;
  height: auto;
  width: 100%;
  left: 0;
  background-color: #e0e0e0;
  text-align: left;
  padding: 10px 20px;
  font-size: 12px;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

div {
  font-size: large;
}

p {
  font-size: large;
}
